@use "@/styles/mixins" as *;

.reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @include tablet {
    gap: 20px;
  }

  @include mobile {
    grid-template-columns: 1fr;
    gap: 18px;
  }
}

.review-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 40px;
  border-radius: 50px;

  background-color: var(--beige-200);

  @include mobile {
    padding: 20px;
    border-radius: 20px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    padding-top: 70px;

    @include mobile {
      padding-top: 40px;
    }
  }

  &__subtitle {
    margin-top: 8px;

    color: var(--gray-300);
  }

  &__img {
    height: 75px;
    aspect-ratio: 1;
    border-radius: 50%;
  }
}
