@use '../../../styles/mixins.scss' as *;  

.header {
  position: absolute;

  width: 100%;

  color: var(--white);

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    box-sizing: content-box;
    height: 88px;
    max-width: 1168px;
    padding-inline: fluid-value(20, 57, 360, 1024);
    margin-inline: auto;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      display: none;

      max-width: fluid-value(320, 910, 360, 1024);
    }
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__logo-img {
    @include mobile {
      height: 22px;
      width: 133px;
      object-fit: cover;
    }
  }

  &__nav-list {
    display: flex;
    gap: 50px;

    @include tablet {
      gap: 30px;
    }
  }

  &--fixed {
    position: fixed;
    z-index: 10;
    top: -100px;
    transition: top 300ms;

    color: var(--black);
    background: rgba(243, 239, 232, 0.6);
    backdrop-filter: blur(27px);

    & .header__logo {
      filter: brightness(0) saturate(100%);
    }

    & .header__nav-link::after,
    & .header__phone::after {
      background-color: var(--black);
    }

  }

  &--show {
    top: 0;
  }
}

.link {
  position: relative;
  display: block;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50%;

    width: 0;
    height: 2px;

    color: inherit;
    background-color: var(--white);
    transition-duration: inherit;
  }

  &:hover::after {
    width: 100%;
  }

  &__icon {
    width: 26px;
    height: 26px;
    object-fit: none;

    &--vk {
      @include mobile {
        width: 20px;
      }
    }

    &--tg {
      @include mobile {
        width: 22px;
      }
    }
  }

  &--phone {

    &:active {
      color: var(--green-400);
    }

    &:active::after {
      background-color: var(--green-400);
    }
  }

  &--email {
    display: inline-block;
    
    color: var(--black);

    &:hover::after {
      background-color: var(--black);
    }

    &:active {
      color: var(--green-400);
    }

    &:active::after {
      background-color: var(--green-400);
    }
  }

  &--filter {
    &::after {
      height: 2px;
    }

    &:hover::after {
      background-color: var(--black);
    }

    &.link--selected {
      color: var(--orange-200);

      &::after {
        width: 100%;
        background-color: var(--orange-200);
      }

      &:hover::after {
        background-color: var(--orange-200);
      }
    }
  }

  &--social {

    &:active {
      color: var(--orange-200);
    }

    &:active::after {
      background-color: var(--orange-200);
    }
  }

  &--footer {
    display: flex;
    gap: 10px;
    align-items: center;

    @include mobile {
      gap: 5px;
    }

    &::after {
      display: none;
    }

    .link__text {
      transition-duration: inherit;
      position: relative;
    }

    .link__text::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      translate: -50%;

      width: 0;
      height: 2px;
      
      background-color: var(--black);
      transition-duration: inherit;
    }

    &:hover .link__text::after {
      width: 100%;
    }

    &:active {
      color: var(--orange-200);
    }

    &:active .link__text::after {
      background-color: var(--orange-200);
    }

    &:active .link__icon {
      transition-duration: inherit;
      filter: brightness(0) saturate(100%) invert(67%) sepia(77%) saturate(2796%) hue-rotate(8deg) brightness(101%) contrast(104%);
    }
  }
}