@use "@/styles/mixins" as *;

.picture {
  position: relative;

  width: 100%;
  height: 301px;

  &__img {
    object-fit: cover;
    object-position: center;
    border-radius: 50px;
    transition: transform 300ms ease;

    @include mobile {
      border-radius: 20px;
    }
  }
}
