@use "sass:math";

@mixin tablet {
  @media (max-width: 1240px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 910px) {
    @content;
  }
}


@function fluid-value($min-size, $max-size, $min-breakpoint: 360, $max-breakpoint: 1024) {
  @return clamp(#{$min-size}px, #{$min-size}px + ($max-size - $min-size) * (100vw - #{$min-breakpoint}px) / ($max-breakpoint - $min-breakpoint), #{$max-size}px)
}