@use "@/styles/mixins" as *;

.section {
  --header-subtitle-gap: 30px;
  --header-filter-gap: 35px;
  --content-margin-top: 100px;
  --wide-padding-x: 30px;

  box-sizing: content-box;
  max-width: 1170px;
  padding-inline: fluid-value(21, 53, 360, 1024);
  margin-inline: auto;
  margin-block: fluid-value(75, 135, 360, 1024);

  scroll-margin-top: 88px;

  @include mobile {
    --header-subtitle-gap: 20px;
    --header-filter-gap: 30px;
    --content-margin-top: 50px;
  }
  
  @include tablet {
    --wide-padding-x: 20px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 730px;
    margin-inline: auto;
  }

  &__title {
    text-align: center;
  }

  &__subtitle {
    margin-top: var(--header-subtitle-gap);
    max-width: 400px;

    text-align: center;
    color: var(--gray-300);
  }

  &__filter-list {
    margin-top: var(--header-filter-gap);
  }

  &__content {
    margin-top: var(--content-margin-top);

    &:has(form) {
      @include mobile {
        --content-margin-top: 40px;
      }
    }
  }

  &--wide {
    max-width: 1920px;
    padding-inline: var(--wide-padding-x);
  }
}
