@use "@/styles/mixins" as *;

.tour-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;

  width: 100%;

  @include tablet {
    grid-template-columns: 1fr 1fr;
    gap: 18px;
  }

  @include mobile {
    grid-template-columns: 1fr;
  }
}
