@use '@/styles/mixins' as *;

.section {
    box-sizing: content-box;
    max-width: 1170px;
    padding-inline: fluid-value(21, 53, 360, 1024);
    margin-inline: auto;
    margin-block: fluid-value(75, 135, 360, 1024);

    scroll-margin-top: 88px;

    &__title {
        text-align: center;
    }

    &__subtitle {
        margin-top: 30px;

        text-align: center;
        color: var(--gray-300);

        @include mobile {
            margin-top: 20px;
        }
    }

    &__filter-list {
        margin-top: 35px;

        @include mobile {
            margin-top: 30px;
        }
    }

    &__content {
        margin-top: 100px;

        @include mobile {
            margin-top: 50px;
        }
    }

    &--wide {
        max-width: 1920px;
        padding-inline: 30px;

        @include tablet {
            padding-inline: 20px;
        }
    }
}

.tour-grid {
    display: flex;
    justify-content: center;

    @include mobile {
        margin-top: 50px;
    }

    &__list {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;

        width: 100%;

        @include tablet {
            grid-template-columns: 1fr 1fr;
            gap: 18px;
        }

        @include mobile {
            grid-template-columns: 1fr;
        }
    }

}