@use '@/styles/mixins' as *;

.filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  row-gap: 10px;

  @include mobile {
    column-gap: 10px;
  }

}

.filter-button {
  position: relative;

  padding-bottom: 6px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50%;

    width: 0;
    height: 2px;

    background-color: var(--white);
    transition-duration: inherit;
  }

  &:hover::after {
    width: 100%;

    background-color: var(--black);
  }

  &--active {
    color: var(--orange-200);

    &::after {
      width: 100%;
      background-color: var(--orange-200);
    }

    &:hover::after {
      background-color: var(--orange-200);
    }
  }

  @include mobile {
    padding-bottom: 0;
  }
}