@use "@/styles/mixins" as *;

.link {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50%;

    width: 0;
    height: 2px;

    background-color: var(--white);
    transition-duration: inherit;
  }

  &:hover::after {
    width: 100%;
  }

  &--dark {
    color: var(--black);

    &::after {
      background-color: var(--black);
    }
  }

  &__icon {
    width: 26px;
    height: 26px;
    object-fit: none;

    @include mobile {
      width: 22px;
    }
  }

  &--phone {
    &:active {
      color: var(--green-400);
    }

    &:active::after {
      background-color: var(--green-400);
    }
  }

  &--email {
    color: var(--black);

    &:hover::after {
      background-color: var(--black);
    }

    &:active {
      color: var(--green-400);
    }

    &:active::after {
      background-color: var(--green-400);
    }
  }

  &--filter {
    &::after {
      height: 2px;
    }

    &:hover::after {
      background-color: var(--black);
    }

    &.link--selected {
      color: var(--orange-200);

      &::after {
        width: 100%;
        background-color: var(--orange-200);
      }

      &:hover::after {
        background-color: var(--orange-200);
      }
    }
  }

  &--social {
    &:active {
      color: var(--orange-200);
    }

    &:active::after {
      background-color: var(--orange-200);
    }
  }

  &--footer {
    display: flex;
    gap: 10px;
    align-items: center;

    @include mobile {
      gap: 5px;
    }

    &::after {
      display: none;
    }

    .link__text {
      transition-duration: inherit;
      position: relative;
    }

    .link__text::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      translate: -50%;

      width: 0;
      height: 2px;

      background-color: var(--black);
      transition-duration: inherit;
    }

    &:hover .link__text::after {
      width: 100%;
    }

    &:active {
      color: var(--orange-200);
    }

    &:active .link__text::after {
      background-color: var(--orange-200);
    }

    &:active .link__icon {
      transition-duration: inherit;
      filter: brightness(0) saturate(100%) invert(67%) sepia(77%)
        saturate(2796%) hue-rotate(8deg) brightness(101%) contrast(104%);
    }
  }
}
