@use "@/styles/mixins" as *;

.card {
  --card-padding: 50px;
  --button-padding-x: 20px;
  --button-padding-y: 7px;
  --border-radius: 50px;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 531px;
  padding: var(--card-padding);

  border-radius: var(--border-radius);
  overflow: hidden;
  color: var(--white);

  @include mobile {
    min-height: fluid-value(318, 450, 360, 1024);
    --card-padding: 25px;
    --border-radius: 20px;
  }

  &:hover .card__img {
    transform: scale(1.2);
  }

  &__img {
    position: absolute;
    z-index: -2;

    inset: 0;
    object-fit: cover;
    object-position: center;

    transition: transform 300ms ease;
  }

  &::before {
    content: "";

    position: absolute;
    z-index: -1;

    inset: 0;

    background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 16px;

    max-width: 554px;

    @include mobile {
      gap: 13px;
    }

    &--big {
      gap: 37px;

      @include mobile {
        gap: 20px;
      }
    }
  }

  &__title {
    text-wrap: balance;
  }

  &__bottom {
    display: flex;
    justify-content: end;
  }

  &__button {
    position: absolute;
    inset: 0;

    &:hover .card__button-label {
      background-color: var(--green-400);
    }

    &:active .card__button-label {
      background-color: var(--orange-200);
    }
  }

  &__button-label {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: calc(var(--card-padding) - var(--button-padding-y));
    left: calc(var(--card-padding) - var(--button-padding-x));

    padding: var(--button-padding-y) var(--button-padding-x);
    border-radius: 50px;

    transition: background-color 300ms;

    &::after {
      content: "";
      display: inline-block;

      width: 24px;
      height: 26px;
      margin-left: 16px;

      background: url(/icons/arrow.svg) no-repeat;
      background-position: center;
    }
  }

  &__socials {
    display: flex;
    gap: 35px;

    @include mobile {
      display: none;
    }
  }

  &--big {
    min-height: 567px;
    max-height: none;
    max-width: 1170px;
    --card-padding: 60px;

    @include mobile {
      --card-padding: 30px;
      min-height: 455px;
    }

    &::before {
      content: "";
      background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0) 0.01%,
        rgba(0, 0, 0, 0.2) 100%
      );

      position: absolute;
      inset: 0;
      z-index: -1;
    }
  }
}
