@use "@/styles/mixins" as *;

.card {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 531px;
  padding: 50px;
  margin: 0 auto;

  border-radius: 50px;
  overflow: hidden;
  color: var(--white);

  @include mobile {
    min-height: fluid-value(318, 450, 360, 1024);
    padding: 25px;

    border-radius: 20px;
  }

  &:hover .card__img {
    transform: scale(1.2);
  }

  &__img {
    position: absolute;
    z-index: -2;

    height: 100%;
    width: 100%;
    inset: 0;
    object-fit: cover;
    object-position: center;

    transition: transform 300ms ease;
  }

  &::before {
    content: "";

    position: absolute;
    z-index: -1;

    inset: 0;

    background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 16px;

    max-width: 554px;

    @include mobile {
      gap: 13px;
    }

    &--big {
      gap: 37px;

      @include mobile {
        gap: 20px;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    display: flex;
    align-items: center;

    padding: 7px 20px;
    margin: -7px -20px;

    border-radius: 50px;

    &::after {
      content: "";
      display: inline-block;

      width: 24px;
      height: 26px;
      margin-left: 16px;

      background: url(/icons/arrow.svg) no-repeat;
      background-position: center;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
    }

    &:hover {
      background-color: var(--green-400);
    }

    &:active {
      background-color: var(--orange-200);
    }
  }

  &__socials {
    display: flex;
    gap: 35px;

    @include mobile {
      display: none;
    }
  }

  &--big {
    min-height: 567px;
    max-height: none;
    max-width: 1170px;
    padding: 60px;

    @include mobile {
      padding: 30px;
      min-height: 455px;
    }

    &::before {
      content: "";
      background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0) 0.01%,
        rgba(0, 0, 0, 0.2) 100%
      );

      position: absolute;
      inset: 0;
      z-index: -1;
    }
  }
}
